<footer>
    <!-- Social-Media-Icons -------------------------------------------- -->
    <div class="footer-social">
        <a href="https://www.instagram.com/lucalatella" target="_blank" rel="noopener">
            <img src="/LB_293/svg/instagram.svg" alt="Instagram">
        </a>
        <a href="https://www.tiktok.com/@lucalatella" target="_blank" rel="noopener">
            <img src="/LB_293/svg/tiktok.svg"   alt="TikTok">
        </a>
        <a href="https://www.linkedin.com/in/lucalatella" target="_blank" rel="noopener">
            <img src="/LB_293/svg/linkedin.svg"  alt="LinkedIn">
        </a>
    </div>

    <!-- Copyright ------------------------------------------------------ -->
    <p>&copy; 2025 Luca Latella</p>
</footer>
